{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-lg-5">
       
                <div class="container ">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12 "><br class="hidden-xs hidden-md hidden-lg d-md-none"><br class="hidden-xs hidden-md hidden-lg d-md-none"><br class="hidden-xs hidden-md hidden-lg d-md-none">
                            <div class="banner-text ">
                                <img src="static/images/img/blog/3.png" alt="">

                            </div>
                        </div>

                   
            </div>
        </div>
    </div>

    <div class="blog-details-area mt-5 pb-70">

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                   
                    <div class="blog-description">
                        <div class="article-info d-flex  ">
                            <img src="static/images/img/tools/Group 291.png" alt=""
                            style="border-radius: 50%; width: 70px; height: 70px; margin-top: 20px;">
                            <ul>                               
                                <li>                                    
                                    <p class="text-dark" style="margin-top: 10px;padding: 0px 20px 0px 5px;">Author</p>
                                    <h6 class="fw-bold">Tecblic</h6>
                                </li>
                                <li>
                                    <p class="text-dark" style="margin-top: 10px;padding: 0px 20px 0px 10px;">Published</p>
                                    <h6 class="fw-bold">01-09-2021</h6>                                   
                                </li>           
                            </ul>                           
                        </div>
                        <div class="d-flex float-lg-end social-icons"> 
                            <div class=" text-dark text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon feather-download.png" height="22" alt=""></i> <br> Download</a>                                           
                            </div>                             
                            <div class=" text-dark  text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon ionic-md-share.png" height="22" alt=""></i> <br> Share</a>                                           
                            </div>  
                            <div class=" text-dark  text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon awesome-bookmark.png" height="22" alt=""></i><br> Save</a>                                           
                            </div>
                                                           
                                <div class=" text-dark  text-center p-3">
                                    <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon material-print.png" height="22" alt=""></i>
                                        <br> Print</a>                                           
                                   
                                </div>
                        </div>
                      
                        <h3 class="article-title">Odoo 15: Future of business simplified</h3>
                        <p class="text-justify mb-lg-3">O Yes… Odoo-15 is here and we are thrilled beyond measure. It is fresh, smooth and secure as it can be. The new Odoo is all geared-up with revolutionary updates that will double up your efficiency; minimize labor by at least 30% thus saving huge on your valuable time. </p>
                        <p class="text-justify mb-lg-3">
                            Odoo-15 comes with simplified forms, sharp looks and bundles of updates in modules making it a class-apart yet user-friendly platform to work on. With Odoo-15 business management tool, it is smoother to come together and work towards a collective goal like never before.
                        </p>
                        <p class="mb-lg-4"><b class="text-dark ">Accounting: </b> Traditional accounting could be tiresome in today’s fast-paced life. Odoo-15’s powerful OCR, revamped accounts forms makes it convenient to keep a track of previous transactions and generate customer invoices faster.
                        </p>
                        <p class="mb-lg-4">Rely on Odoo-15 and never count any account twice, “Control Domains” minuses the chance of counting single account multiple times. Payments can be recorded in list view giving you an accurate total. Odoo-15 can partially reconcile invoices and bills. Ability to fully reconcile underpayments through payment tolerance mechanism is added.  </p>
                        <p class="mb-lg-4"> <b class="text-dark">Appointments:</b> With Odoo-15, users can now send custom invitations via SMS or email methods. Setting reminders via notifications and emails in meetings section in online appointments makes it simple keeping your day on track. Define your meeting type with color schemed tags and set priority. With slots, defining from and to dates in appointments now comes handy. With Odoo 15, you can now generate leads and opportunity from booked meetings. </p>
                        <p class="mb-lg-4"><b class="text-dark">CRM: </b> Increase efficiency by collecting user contact credentials as they enter information. With stat tab, reach potential leads, even lost ones, associated with a contact. With new lead scoring feature, get to relevant leads. Reports can be accessed with limited rights for individual user. Odoo languages are now in sync with Gmail and Outlook ad-ons. Drag and drop opportunities between months to forecast sales.  </p>
                        <p class="mb-lg-4"> <b class="text-dark">E-commerce:</b> Customizable e-commerce experience on Odoo-15 now empowers you with the freedom to keep your customers on shopping page or redirect directly to cart as they add an item. In online shopping, customer can now purchase gitftcards usable even at POS. You may choose to enable “recently viewed products” section easing customer experience on your e-commerce site. Upon sign-up, customers can now receive notifications on availability for “out of stock” products.                         </p>
                        <p class="mb-lg-4"><b class="text-dark">Email Marketing: </b> Odoo 15 comes bundled with the ability to send multiple versions of test emails to sample recipients and observe performance. Creating and moving contacts are easy with “add to list” feature. Schedule mailings under calendar view. With renewed social marketing, now you can post GIFs on Facebook, Instagram can be integrated to Odoo and posts can be directly posted. Youtube videos can be uploaded from Odoo including link for the same on other posts. 
                        </p>
                        <p class="mb-lg-4"> <b class="text-dark">Inventory:</b> Did you know that most businesses invest close to 25% of their time just in identifying negative stocks and double serial numbers? Increase productivity of your employees with Odoo-15 business transformation and minus the task with the newly designed inventory modules. Create forecast reports based on previous sales and predict upcoming trends. You can favorite the most “searched-for” products by making them appear first in the search results. Wave transfers show different transfers on one screen and optimizing labor for you. 
                        </p>
                        <p class="mb-lg-4"> <b class="text-dark">Manufacturing:</b> With the renewed form view, tracking cost of productions proves to be time-efficient and real-time. Predict product demand from product form under master production schedule (MPS).</p>
                        <p class="mb-lg-4"> <b class="text-dark">Purchase:</b> With Odoo 15, updating draft manufacturing with outdated BOM is just a click away. You can now get a clearer view of monthly sales with replenishments. Purchase type is added to differentiate procurement and commissions. </p>
                        <p class="mb-lg-4"><b class="text-dark">Sales: </b> Pricelists can now be easily configured in the form view. With Odoo 15, content for terms and conditions now comes as default web page and a link to T&C on every sales order is provided. With renewed sales service format, now leverage your business from other apps such as rental and repair services, subscription and others.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-search">
                    <form>
                    <input type="text" placeholder="Search">
                    <button><i class="flaticon-search"></i></button>
                    </form>
                    </div>
                    <div class="recent-blog">
                    <h3>Recent Blogs</h3>
                    <article class="recent-post">
                    <a href="{% url 'oddocrm' %}"><img src="static/images/img/blog/1.jpg" alt="recent post image"></a>
                    <h3><a href="{% url 'oddocrm' %}">Odoo CRM Integration with Whatsapp Chatbot!</a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Tecblic
                    </li>
                    <li>
                    <i class="icofont-user-alt-3 text-dark"></i>
                    Sep 01, 2021
                    </li>
                    </ul>
                    </article>
                    <article class="recent-post">
                    <a href="{% url 'oddofuture' %}"><img src="static/images/img/blog/3.png" alt="recent post image"></a>
                    <h3><a href="{% url 'oddofuture' %}">Odoo 15: Future of business simplified</a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Admin
                    </li>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Jan 03, 2021
                    </li>
                    </ul>
                    </article>
                    <article class="recent-post">
                    <a href="{% url 'aimlblog' %}"><img src="static/images/img/blog/2.png" alt="recent post image"></a>
                    <h3><a href="{% url 'aimlblog' %}">Glimpse to the future of AI/ML </a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Tecblic
                    </li>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Jan 03, 2021
                    </li>
                    </ul>
                    </article>
                    </div>
                   
                    
                 
                    </div>

            </div>
        </div>
    </div>



    {% include 'footer.html' %}
{% endblock content %}