{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="">       
                <div class="container ">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12 "><br class="hidden-xs hidden-md hidden-lg d-md-none"><br class="hidden-xs hidden-md hidden-lg d-md-none"><br class="hidden-xs hidden-md hidden-lg d-md-none">
                            <div class="banner-text text-center mt-lg-4 mb-lg-4 ">
                                <img src="static/images/img/blog/1.jpg" alt="">

                            </div>
                        </div>

                  
            </div>
        </div>
    </div>

    <div class="blog-details-area">

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                   
                    <div class="blog-description">
                        <div class="article-info d-flex  ">
                            <img src="static/images/img/tools/Group 291.png" alt=""
                            style="border-radius: 50%; width: 70px; height: 70px; margin-top: 20px;">
                            <ul>                               
                                <li>                                    
                                    <p class="text-dark" style="margin-top: 10px;padding: 0px 20px 0px 5px;">Author</p>
                                    <h6 class="fw-bold">Tecblic</h6>
                                </li>
                                <li>
                                    <p class="text-dark" style="margin-top: 10px;padding: 0px 20px 0px 10px;">Published</p>
                                    <h6 class="fw-bold">01-09-2021</h6>                                   
                                </li>           
                            </ul>                           
                        </div>
                        <div class="d-flex float-lg-end social-icons"> 
                            <div class=" text-dark text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon feather-download.png" height="22" alt=""></i> <br> Download</a>                                           
                            </div>                             
                            <div class=" text-dark  text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon ionic-md-share.png" height="22" alt=""></i> <br> Share</a>                                           
                            </div>  
                            <div class=" text-dark  text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon awesome-bookmark.png" height="22" alt=""></i><br> Save</a>                                           
                            </div>
                                                           
                                <div class=" text-dark  text-center p-3">
                                    <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon material-print.png" height="22" alt=""></i>
                                        <br> Print</a>                                           
                                   
                                </div>
                        </div>
                      
                        <h3 class="article-title">Odoo CRM Integration with Whatsapp Chatbot!    </h3>
                        <p class="text-justify mb-lg-3">With more than 2 billion active users, Whatsapp has become the most effective tool to engage with your customers. Integrating Odoo CRM with Whatsapp business account allows your organization to communicate to your customers Whatsapp account directly from Odoo CRM. Whatsapp Chatbot would further allow your customers to access customer care 24 X 7 on their fingertips.</p>
                        <p class="text-justify mb-lg-3">
                          <b class="text-dark"> Reduced Operational Cost : </b>  Whatsapp Chatbot can reduce your operational cost as most of the customer queries would be resolved by the Chatbot reducing the overall cost to serve a customer.
                        </p>
                        <p class="mb-lg-4"> <b class="text-dark">Increased sales and revenue : </b> If you manage to get the right information and offers to your potential customers at the right time, you can significantly increase your chances of closing a sale. You can derive valuable insights for your business strategy from the queries, suggestions and feedback about your products/services.
                        </p>
                        <p class="mb-lg-4"> <b class="text-dark"> Excellent Customer experience and insights: </b> You probably have experienced it yourself. You write an email to the customer service or wait an eternity in the queue of the telephone hotline. With Whatsapp Chatbot, unnecessary waiting times are avoided. Chatbot provides your business with detailed, actionable records of your customers’ greatest pain points, helping your organization to improve its products and services. Chatbot gives customers the opportunity to book orders or do transactions without human interaction.</p>
                        <p class="">Whatsapp Chatbot integration with Odoo CRM will transform customer service and sales of your organization and make your business stand out from the competition. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-search">
                    <form>
                    <input type="text" placeholder="Search">
                    <button><i class="flaticon-search"></i></button>
                    </form>
                    </div>
                    <div class="recent-blog">
                    <h3>Recent Blogs</h3>
                    <article class="recent-post">
                    <a href="{% url 'oddocrm' %}"><img src="static/images/img/blog/1.jpg" alt="recent post image"></a>
                    <h3><a href="{% url 'oddocrm' %}">Odoo CRM Integration with Whatsapp Chatbot!</a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Tecblic
                    </li>
                    <li>
                    <i class="icofont-user-alt-3 text-dark"></i>
                    Sep 01, 2021
                    </li>
                    </ul>
                    </article>
                    <article class="recent-post">
                    <a href="{% url 'oddofuture' %}"><img src="static/images/img/blog/3.png" alt="recent post image"></a>
                    <h3><a href="{% url 'oddofuture' %}">Odoo 15: Future of business simplified</a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Admin
                    </li>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Jan 03, 2021
                    </li>
                    </ul>
                    </article>
                    <article class="recent-post">
                    <a href="{% url 'aimlblog' %}"><img src="static/images/img/blog/2.png" alt="recent post image"></a>
                    <h3><a href="{% url 'aimlblog' %}">Glimpse to the future of AI/ML </a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Tecblic
                    </li>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Jan 03, 2021
                    </li>
                    </ul>
                    </article>
                    </div>
                   
                    
                 
                    </div>
                    </div>
                    </div>
                    </div>
                    

            </div>
        </div>
    </div>



    {% include 'footer.html' %}
{% endblock content %}