{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-lg-5">
                <div class="container ">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12 "><br class="hidden-xs hidden-md hidden-lg d-md-none"><br class="hidden-xs hidden-md hidden-lg d-md-none"><br class="hidden-xs hidden-md hidden-lg d-md-none">
                            <div class="banner-text ">
                                <img src="static/images/img/blog/2.png" alt="">

                            </div>
                        </div>

                  
            </div>
        </div>
    </div>

    <div class="blog-details-area mt-5 pb-70">

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    
                    <div class="blog-description">
                        <div class="article-info d-flex  ">
                            <img src="static/images/img/tools/Group 291.png" alt=""
                            style="border-radius: 50%; width: 70px; height: 70px; margin-top: 20px;">
                            <ul>                               
                                <li>                                    
                                    <p class="text-dark" style="margin-top: 10px;padding: 0px 20px 0px 5px;">Author</p>
                                    <h6 class="fw-bold">Tecblic</h6>
                                </li>
                                <li>
                                    <p class="text-dark" style="margin-top: 10px;padding: 0px 20px 0px 10px;">Published</p>
                                    <h6 class="fw-bold">01-09-2021</h6>                                   
                                </li>           
                            </ul>                           
                        </div>
                        <div class="d-flex float-lg-end social-icons"> 
                            <div class=" text-dark text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon feather-download.png" height="22" alt=""></i> <br> Download</a>                                           
                            </div>                             
                            <div class=" text-dark  text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon ionic-md-share.png" height="22" alt=""></i> <br> Share</a>                                           
                            </div>  
                            <div class=" text-dark  text-center p-3">
                                <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon awesome-bookmark.png" height="22" alt=""></i><br> Save</a>                                           
                            </div>
                                                           
                                <div class=" text-dark  text-center p-3">
                                    <a href="#" class="text-dark text-center" ><i  aria-hidden="true"><img src="static/images/img/shapes/Icon material-print.png" height="22" alt=""></i>
                                        <br> Print</a>                                           
                                   
                                </div>
                        </div>
                      
                        <h3 class="article-title">Glimpse to the future of AI/ML         </h3>
                        <p class="text-justify mb-lg-3">As humans dive deep into the future of technology, the spectrum of possibilities expands. While we are leveraging Artificial Intelligence for improving our lives, researchers have advanced in the field of Brain-Computer Interface or BCI.</p>
                        <p class="text-justify mb-lg-3">
                            So what exactly is BCI? A Brain-Computer Interface (BCI) is a communication system that can help users interact with the outside environment by translating brain signals into machine commands. The acquisition of brain activities by BCIs can be achieved via two different methods Invasive or Noninvasive. BCI primarily encompasses four components viz signal acquisition, feature extraction, translation algorithm and operating environment. These together shape the foundation of BCI. Though the dimensions of BCI are still in infancy and needs detailed exploration, scientists and tech-giants are vocal on the various possibilities that may be realized shortly.
                        </p>
                        <p class="mb-lg-4"> Scientists are discussing possibilities that will transform the lives of millions of specially-abled individuals. Experiments are being conducted to widen its applications. The scope of application is primarily focused on the medical aspect as the tech developers opines that such advanced technology must assist those who are in dire need of it. Having said that, as it is an evolving stream and each day new dimensions are being explored. Its affordability for the masses however remains under wraps. Work towards developments of prosthetic limbs has been explored and remarkable progress was observed.
                        </p>
                        <p class="mb-lg-4">Initial progress in the stream leads to the discovery that <b class="text-dark"> Artificial Intelligence/Machine Learning and Data Science </b> plays a vital role in developing a deep understanding of the brain-computer interface. Tecblic has deep expertise in AI/ML and Data Science, and we have the best brains in the industry to develop top-notch technological solutions for our clients. Make your first move now, discover possibilities of AI/ML and Data Science with <b>Tecblic</b> . Drop us an email at <a href="mailto:info@tecblic.com"> info@tecblic.com</a>, <a href="mailto:sales@tecblic.com"> sales@tecblic.com </a> or call on: <a href="tel:+917576074977"> +917567074977.</a>   </p>
                         </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-search">
                    <form>
                    <input type="text" placeholder="Search">
                    <button><i class="flaticon-search"></i></button>
                    </form>
                    </div>
                    <div class="recent-blog">
                    <h3>Recent Blogs</h3>
                    <article class="recent-post">
                    <a href="{% url 'oddocrm' %}"><img src="static/images/img/blog/1.jpg" alt="recent post image"></a>
                    <h3><a href="{% url 'oddocrm' %}">Odoo CRM Integration with Whatsapp Chatbot!</a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Tecblic
                    </li>
                    <li>
                    <i class="icofont-user-alt-3 text-dark"></i>
                    Sep 01, 2021
                    </li>
                    </ul>
                    </article>
                    <article class="recent-post">
                    <a href="{% url 'oddofuture' %}"><img src="static/images/img/blog/3.png" alt="recent post image"></a>
                    <h3><a href="{% url 'oddofuture' %}">Odoo 15: Future of business simplified</a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Admin
                    </li>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Jan 03, 2021
                    </li>
                    </ul>
                    </article>
                    <article class="recent-post">
                    <a href="#"><img src="static/images/img/blog/2.png" alt="recent post image"></a>
                    <h3><a href="{% url 'aimlblog' %}">Glimpse to the future of AI/ML </a></h3>
                    <ul>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Tecblic
                    </li>
                    <li>
                    <i class="icofont-user-alt-3"></i>
                    Jan 03, 2021
                    </li>
                    </ul>
                    </article>
                    </div>
                   
                    
                 
                    </div>

            </div>
        </div>
    </div>



    {% include 'footer.html' %}
{% endblock content %}