{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="blog-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-text text-center">
                    <h2> SCALE BUSINESS SECURELY <br> WITH DJANGO</h2>

                </div>
            </div>
        </div>
    </div>


    <div class="newsletter-section mb-5">
        <div class="container">

            <h1 class="fw-bolder mt-5 text-uppercase ">Rely on the extensivity <br>
                of Django.</h1>

            <div class="row mt-5 mb-4">
                <div class="col-md-8">
                   <p>Django is a high-level & popular python programming framework that has an active and thriving community of developers. it is simple yet powerful and highly scalable.</p>
                   <p>Django is free & open source making it one of the most apt for large scale development.</p>
                   <h3 class="fw-bold">Dependable</h3>
                   <p>It is one of the widely popular frameworks among the developers following its reusability and extensive libraries. Many popular platforms including national geographic & instagram too function and trust Django. Its traffic management efficiencies make it a comprehensive platform to work on.</p>
                    <h3 class="fw-bold">Strong community support</h3>
                    <p>Being a developer-friendly framework, Django has an active and growing community of developers. This simplifies the support mechanism of the platform as many of the developers provide round the clock support. Developer can easily reach out to the community and seek guidance and assistance in time of urgencies and the query could be resolved.</p>
                             
                
                </div>
                <div class="col-md-4 pt-40">
                    <img src="static/images/img/tools/Django.png" alt="">
                </div>
            </div>
           <h3 class="fw-bold">High-scalability</h3>
           <p>Django is a component-based framework making it hassle-free & easy to combine. Its component can be easily assembled even at hardware end by means of adding caching servers, database servers, or application servers making the platform highly-scalable and dependable.</p>
           <h3 class="fw-bold">Less codes, more impact</h3>
           <p>Django codes are written with the dry (don’t repeat yourself) principle. The codes written are maintainable and reusable and remains free from duplications. having said that, django promotes grouping of related functionalities into reusable codes.</p>
          <h3 class="fw-bold">Security</h3>
          <p>Django provides high-security courtesy to its middleware security component. This component provides shield against an array of middleware attacks thus securing the project providing a multi-layered security.</p>
          <h3 class="fw-bold">Databases</h3>
          <p>Django works well with all the major databases however; it officially does not provide support for nosql. Developers can seek guidance and support from the growing community and get to solutions. Developers may make modifications in the existing codes that helps in developing fresh codes for projects.</p>
        </div>
    </div>
    </div>
  {% include 'footer.html' %}
{% endblock content %}