{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="blog-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-text text-center">
                    <h2>BUILD APPS FOR FUTURE,<br> 
                        TODAY</h2>

                </div>
            </div>
        </div>
    </div>


    <div class="newsletter-section mb-5">
        <div class="container">

            <h1 class="fw-bolder mt-5  text-uppercase ">Build sustainable and <br>scalable apps with Flutter.</h1>

            <div class="row mt-5 mb-4">
                <div class="col-md-8">
                    <p>Flutter- crafted by google, flutter is an open-source ui software development kit based on dart programming language. It is one of the most popular cross-platform application development toolkit.</p>
                    <p>Publicly released in may 2017, flutter is comparatively new in the market but has enormous potential courtesy to the number of functionalities it comes with & extended support from its growing community.  </p>
                   <p>Let’s dive deep into some of the foundational features of flutter.</p>
                   <h3 class="fw-bold">One code does the trick</h3>
                   <p>With flutter, one can build sustainable, secure and scalable apps for most of the operating systems. You can write one code for android, ios, windows, linux and fuchsia. Additionally, flutter provides extensive support for development of native apps also. While java and kotlin can be opted for android app development, codes in objective-c and swift can be scripted for ios apps.  </p>
                </div>
                <div class="col-md-4 pt-40">
                    <img src="static/images/img/tools/fLUTTER.png" alt="">
                </div>
                <div class="col-md-4 pt-40">
                    <img src="static/images/img/tools/Group 3991.png" alt="">
                </div>
                <div class="col-md-8">
                   <h3 class="fw-bold">Hot reload</h3>
                   <p>With hot reload feature, you have the ability to make minor changes in the code and witness the impact in real-time that too without any glitches or misses in the frontend. </p>
                    <h3 class="fw-bold">Every Pixel count</h3>
                    <p>It is flexible as it gives the ability to access every pixel to accommodate the slightest and slimmest of customizations adding value to your designs and flow requirements.</p>
                   <h3 class="fw-bold">Documentation</h3>
                    <p>With an encouraging number of developers turning towards developing apps over flutter, the documentation and community is constantly increasing. With detailed and unmatched documentation, flutter comes with a rich backing.</p>
                    <h3 class="fw-bold">Widgets</h3>
                    <p>Divided majorly in two types viz stateless widgets and stateful widgets, flutter comes bundled with a wide variety of widgets that enhance the overall look and feel of mobile application and gives you a comprehensive experience in terms of usage.</p>
                    <p>At Tecblic our expert team of professionals are capable of creating an all-encompassing mobile application that syncs best with our client’s business requirements and support the business penetration for growth and potential enhancement. for details, feel free to ring our numbers.</p>
                </div>
               
            </div>
           </div>
    </div>
    </div>
   {% include 'footer.html' %}

{% endblock content %}