<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="{% url 'home' %}">
                            <img src="static/images/img/logo-2.png" alt="logo">
                        </a>
                    </div>
                    <h6 class="text-white" style="font-weight: 900;">An innovation-driven company</h6>
                    <p>We are passionate about creating your success story by transforming the organization’s
                        digital identity.</p>
                    <div class=" text-white">
                        <a href="https://www.facebook.com/tecblic/?ref=pages_you_manage" target="_blank" class="text-white" style="font-size: 28px; padding: 8px;"><i
                            class="flaticon-facebook"></i></a>
                    <a href="https://twitter.com/tecblic" class="text-white" target="_blank" style="font-size: 28px; padding: 8px;"><i
                            class="flaticon-twitter"></i></a>
                    <a href="https://www.instagram.com/tecblic/" class="text-white" target="_blank" style="font-size: 28px; padding: 8px;"><i
                            class="flaticon-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/tecblic/" target="_blank" class="text-white" style="font-size: 28px; padding: 8px;"><i
                            class="flaticon-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget pl-75">
                    <h4 class="text-white mb-3"><b>Menu</b></h4>
                    <ul>

                        <li>
                            <a href="{% url 'services' %}">

                                Services
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'technology' %}">
                                Technology
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'aboutus' %}">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'blog' %}">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'contactus' %}">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="footer-widget pl-75">
                    <h4 class="text-white mb-3"><b>Our Offices</b></h4>
                    <ul>

                        <li>
                            <div>
                                <h5 class="text-white mb-1"><b>India</b></h5>
                                A-305 Stellar complex, Sindhu Bhavan Road,
                                Ahmedabad- 380054.
                            </div>

                        </li>
                        <li>
                            <div>
                                <h5 class="text-white mb-1"><b>Norway</b></h5>
                                Skvadronvegen 3, 4050 Sola
                            </div>
                        </li>
                        <li>
                            <div>
                                <h5 class="text-white mb-1"><b>Canada</b></h5>
                                580, Duncan Street, Milton Ontario, Canada
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 lh-1 text-left">
                    <p>© Copyright <a href="#" target="_blank">Tecblic</a> 2020 </p>
                </div>

            </div>
        </div>
    </div>
</footer>