{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="blog-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-text text-center">
                    <h2> SIMPLE YET POWERFUL</h2>

                </div>
            </div>
        </div>
    </div>


    <div class="newsletter-section mb-5">
        <div class="container">

            <h1 class="fw-bolder mt-5 text-uppercase">Make Go your go to<br> language.</h1>

            <div class="row mt-5 mb-4">
                <div class="col-md-4 pt-40">
                    <img src="static/images/img/tools/Golange.png" alt="">
                </div>
                <div class="col-md-8">
                    <p>Golang or popularly knowns as go is one of the most dynamic programming language that gained popularity ever since it was made publicly available in the year 2012. Designed by programmers to increase performance and code-simplicity.</p>
                    <p>Though, as compared to other programming languages, go libraries are concentrated. However, the good news is, go community is constantly growing and more number of developers are actively contributing</p>
                    <p>Go was originally formulated for programs related to networking and infrastructure. Some of the most popular infrastructure tools including kubernets, docker and prometheus were written in Golang.</p>
                    <p>One of the key benefits of working with go is its ability to effectively collect garbage giving the programmer more control over the memory reducing latency. Being built for higher performance, it is flexible and can manage multiple processes simultaneously without compromising on the overall effectivity. go is known to produce faster and accurate outcomes.</p>
                    <p>Go comes bundled with a unit testing feature that empowers programmers to check the correctness of the codes formulated and allows to maintain the defined flow.</p> 
                
                </div>
               
            </div>
           
            <p>Go leans on one size fits all theory, that means, go is a platform independent language. Users are independent in choosing the desired platform for using go based programs making it widely acceptable.</p>
            <p>Some of the most popular and giants in industries rely on the security, readability and efficiency of golang. google, twitch, dailymotion, dropbox and uber are just a few to name. </p>
           <h3 class="fw-bold">One of the Netflix’s team members was quoted as saying</h3>
           <p>“The decision to use go was deliberate, because we needed something that had lower latency than java (where garbage collection pauses are an issue) and is more productive for developers than c, while also handling tens of thousands of client connections. go fits this space well.”  </p>
            <p>In a nutshell, Golang is one among the most comprehensive yet specific programming languages that foundations on security, simplicity yet effective productivity of the overall project.

            </p>
        </div>
    </div>
    </div>
   {% include 'footer.html' %}
{% endblock content %}