{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="blog-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-text text-center">
                    <h2>PWA IS THE FUTURE <br> OF APPS</h2>

                </div>
            </div>
        </div>
    </div>


    <div class="newsletter-section mb-5">
        <div class="container">

            <h1 class="fw-bolder mt-5 ">WEBAPP IS LEADING THE CURVE</h1>
            <div class="row mt-5 mb-4">
                <div class="col-md-4 pt-40">
                    <img src="static/images/img/shapes/Group 3132.png" alt="">
                </div>
                <div class="col-md-8">
                    <p>Websites have evolved as the most common and reliable source for gathering information in relation to any queries we may come across.</p>
                    <h3 class="fw-bold mb-2">Need to know the background of any company?</h3>
                    <p>Just google it and you will definitely come across an official website of that company. It also helps in developing and maintaining an online presence in the current digital marketing structure.</p>
                    <p>Be it regarding a store near you or you want to explore the universe, everything is available on the websites.</p>
                    <p>Today, an increasing no. Of individuals are also building their personalized websites mouthing their competencies, skill and services that they might be providing, giving a rise to the website market as a whole.</p>
                </div>




            </div>

            <p>With the ever-increasing demands of the dynamic market, platforms like wordpress, vix and even godaddy too started to offer website building tools that are simple to assemble and create a website. having said that, the demand for a more secure and stable website structure has not witnessed a downfall.</p>
            <p>At tecblic, we build secure, powerful, stable and efficient websites for businesses using technologies like angularjs, react js, html, css, python, php, nodes js, .net and even wordpress.</p>
            <p>We are competent to build any sort of website from scratch and even turn an existing website into a progressive web application (pwa).</p>
            <h3 class="fw-bold mb-2">PWA?</h3>
            <p class="text-dark">Pwas are essentially websites that come with a set of functionalities that gives it the ability to be a pwa. Any website can be turned into a pwa with minimal changes in the backend.</p>
            <p>So how does it work? pwa can be called as hybrid-websites. these are websites with a few app-like features such as push notification. These are light-weight websites that can be pinned on the desktop, mobile or tablet home screens. being light makes it faster to load, consumes less of your storage space on the devices and remains relevant and updated every time the user visits.</p>
            <p>With Tecblic’s core competence to innovate and transform businesses and lives of billions, our expert and experienced website engineers are sure to solve all your worries and give you an extra-edge with our powerful products and services. We have an experience spanning over two decades in creating and building websites from scratch making us one of the pioneers in the business.</p>
            <a href="{% url 'contactus' %}" class="fw-bold"> Need A Website Or PWA? Your Search For A Developing Partner Surely Ends With Tecblic.
            </a> 

        </div>


    </div>
    </div>

    {% include 'footer.html' %}

{% endblock content %}