{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="blog-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="title-text text-center">
                    <h2>LIKE OUR WEBSITE?<br> 
                        ITS REACT.</h2>

                </div>
            </div>
        </div>
    </div>


    <div class="newsletter-section mb-5">
        <div class="container">

            <h1 class="fw-bolder mt-5 ">LET'S CRAFT INCREDIBLE <br> FRONTEND</h1>

            <div class="row mt-5 mb-4">
                <div class="col-md-8">
                    <p> Creating amazing frontend user interface based on java script library comes handy when you choose React. it is free and open-source. Reliability is easy as it is managed by tech giant meta and an open-source developer community.</p>    
                    <p>Debuted in the market in may 2013, react enjoys a loyal and growing community of developers that adds to its popularity with each passing day. Below are some the amazing features of React.</p>
                    <h3>Easy formulation</h3>
                    <p>What do you call quick? when your efforts to code narrows giving more room for added functionalities. Crafting close to flawless web application is easy with React.</p>
                    <h3>Power-packed performance</h3>
                    <p>Leaning on virtual dom, react assists in faster creation of web applications. In contrast to other apps, react only updates the items that were changed after comparing it from previous state.</p>
              
            </div>
                <div class="col-md-4 pt-40">
                    <img src="static/images/img/tools/React.png" alt="">
                </div>
                <h3>Reusability</h3>
                <p>Reusable components reduce the overall development time. Components can be understood as the pillars of any application. Usually, a number of components make one app. The reusability boosts the overall functionality of the web application.</p>
                <h3>Unidirectional Flow</h3>
                     <p>  Okay this may sound too technical but let’s try to decode this. During designing an app developers prefer to safe-store some of the child components in the parent components. Single directional flow makes it easy to debug errors and trace the error-causing elements almost instantly.</p>
                     <h5>Leaning on the efficiency of powerful react and our technical experts, tecblic crafts flawless web applications that gels with our client’s business requirements aiding in scoring business goals.</h5>
                
              
               
            </div>
           </div>
    </div>
    </div>
   {% include 'footer.html' %}
{% endblock content %}